# CDP Configuration
NEXT_PUBLIC_CDP_PROJECT_ID=example-id

# Ethereum Account type: "eoa" for regular accounts, "smart" for Smart Accounts (gasless transactions and improved UX)
NEXT_PUBLIC_CDP_CREATE_ETHEREUM_ACCOUNT_TYPE=eoa
# Whether to create a Solana Account
NEXT_PUBLIC_CDP_CREATE_SOLANA_ACCOUNT=false

# CDP API Key (for Payment Links API)
CDP_API_KEY_NAME=your-api-key-name
CDP_API_KEY_PRIVATE_KEY=your-private-key-base64